body{
margin:0;
font-family:sans-serif;
background:#0d0d0d;
color:white;
}

header{
background:#1a1a1a;
padding:20px;
text-align:center;
border-bottom:3px solid orange;
}

nav{
margin-top:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-size:18px;
padding:8px 14px;
border-radius:6px;
}

nav a:hover{
background:orange;
color:black;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
}

.card{
background:#1f1f1f;
padding:20px;
margin:15px 0;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}

h1{
color:orange;
}

h2{
color:#ffb347;
}

footer{
text-align:center;
padding:20px;
background:#111;
margin-top:40px;
}
